@charset "UTF-8";
html {
    font-size: 100%;
}
body{
    font-family: "Inter", sans-serif;
    line-height: 1.7;
    color: #666;
    background-color: #f5f5f5;
    margin: 0;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}
.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 4%;
}

/*header-----------*/
.page-header {
    display: flex;
    justify-content: space-between;
    height: 88px;
}
.logo {
    width: 121px;
    height: 30px;
    margin-top: 29px;
    margin-left: 160px;
}
.main-nav {
    display: flex;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 34px;
    list-style: none;
    margin-left: 487px;
    margin-right: 160px;
    white-space: nowrap;
}
.main-nav a{
    margin-right: 40px;
    color: #666;
}


/*hero-------*/
.hero{
    background-image: url(../images/hero-image.jpg);
    max-width: 100%;
    height: 760px;
    margin-top: 0;
    padding: 0;
}
.hero h2{
    font-size: 24px;
    color: #fff;
    font-family: "montserrat";
    padding-top: 105px;
    text-align: center;
    font-weight: normal;
}
.hero h1{
    font-size: 48px;
    padding: 15px;
    text-align: center;
    font-weight: normal;
}

/*intro----------*/
.intro{
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 140px 256px;
}
img{
    display: block;
    width: 448px;
    height: 448px;
    border-radius: 20%;
    width: 48%;
}
.box  h2{
    font-size: 24px;
}
.box  p{
    font-size: 16px;
    padding-top: 17px;
}
.box{
    width: 48%;
}


/*frame---------*/
.frame{
    max-width: 100%;
    background-color: #EFF6EE;
    height: 536px;
    display: flex;
    justify-content: space-between;
    padding: 100px 158px;
}
.card p{
    color: #5B9A57;
    font-size: 16px;
    font-family:  "montserrat";
    margin-top: 16px;
}
.card h1{
    font-size: 32px;
    font-family:  "montserrat";
    color: #666;
}
.card img{
    width: 352px;
    height: 256px;
    border-radius: 20%;
}



/*news-----*/
.news{
    max-width: 100%;
    padding: 140px 256px;
}
.news-title{
    font-family: "montserrat";
    text-align: center;
}
.news-title p{
    color: #5B9A57;
    font-size: 16px;
}
.news-title h1{
    font-size: 40px;
    margin-bottom: 50px;
}
.news ul{
    list-style: none;
    margin-bottom: 50px;
    width: 910px;
}
.news li{
    display: flex;
    font-size: 16px;
    white-space: nowrap;
    font-family: "Note Sans JP";
    border-top: 1px solid #bfbfbf;
    line-height: 80px;
}
.date{
    margin-right: 112px;
    margin-left: 48.5px;
    text-align: left;
}
.title{
    margin-right: 48.5px;
    text-align: center;
}
.button{
    width: 176px;
    height: 40px;
    margin-top: 17px;
    color: #fff;
    font-size: 16px;
    font-family: "Note Sans JP";
    background-color: #BAD2B8;
    text-align: center;
    border-radius: 8%;
    padding: 8px 32px;
}
/*footer-----*/
footer{
    background-color: #D9D9D9;
    height: 120px;
}
footer p{
    font-family: Note Sans JP;
    color: #fff;
    font-size: 16px;
    text-align: center;
    padding: 48px;
}
